<%#= javascript_include_tag('walks.js') %>
<h2><%= @dog.name %></h2>
<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %></p>
<p>Notes: <br><%= @dog.notes %><br><br>

<p>
<%= link_to 'See Scheduled Walks', schedule_path(@dog), :class => 'load_walks' %>
</p>
<div class="walks">

</div>

<%= render partial: 'links' %>
