<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>User ID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>"><br>
  <%= link_to "log out", '/logout' %>
<% else %>
  <%= link_to('Log in with Github!', '/auth/github') %>
  <p>
    <strong>Don't use these services?</strong><br>
    <%= link_to "Create an account", new_user_path %> or login below.
  </p>

  <%= form_tag "/login" do %>
    <div class="field">
      <%= label_tag :email, "Email" %><br>
      <%= text_field_tag :email %>
    </div>
    <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Login" %></div>
  <% end %>
<% end %>
